.container {
  max-width: 1170px;
  margin: auto;
  padding: 0px 15px;
}

.page__body {
  font-family: 'Rubik', sans-serif;
}

.section-heading {
  font-size: 30px;
  color: var(--color-section-heading);
}